:root {
    --main-font-color : #fff;
    --second-font-color : black;
    --main-font-style : 'Roboto Condensed', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #242425;
}

.bg_img {
    background-image: url(images/first_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* HEADER SECTION */

.header-wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.logo {
   font-size: 1.5rem;
   border-bottom: 2px solid black;
   padding-bottom: 5px;
}

.hamburger_menu {
  display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3em;
}

nav ul li a {
    color: var(--second-font-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--main-font-style);
    font-weight: 500;
}

.header_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.header_text h1 {
    color: rgb(255, 253, 253);
    font-size: 11rem;
    mix-blend-mode: overlay;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 1);
}

.header_text h1 span {
    font-size: 15rem;
}

/* ABOUT SECTION */


.main-wrapper {
    width: 1200px;
    margin: 0 auto;
    
}

.about_container {
    padding: 10px;
   display: flex;
   justify-content: center;
   margin-top: 3em;
   background-color: #323136;
   border-radius: 16px;
}

.card_content {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.about_us {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-font-color);
}

.about_us h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
    padding-bottom: 10px;
}

.about_us p {
  text-align: justify;
}

.about_us_img {
    position: relative;
    width: 45%;
}


#first_img {
    height: 400px;
    position: relative;
    top: 0;
    left: 0;
}

#second_img {
    height: 400px;
    position: absolute;
    top: 300px;
    left: 210px;
}

/* TOURS SECTION */

.package_tour_container {
    max-width: 85%;
    margin: 0 auto;
}

.title_tour_container {
    color: var(--main-font-color);
    margin-top: 3rem;
    padding: 20px 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
    text-transform: uppercase;
}
.tour_container {
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card_container {
    position: relative;
}
.card_container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.5s;
}

.card_container img:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    padding: 0 15px;
}

.left_col h5{
    color: var(--main-font-color);
    font-size: 1.4rem;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

.left_col span {
    color: #fff;
}

.left_col .checked {
    color: gold;
}

.right_card {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.right_card span {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-font-color);
}

/* FAVORITE SECTION */

.fav_container {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  background-color: #323136;
  border-radius: 16px;
}

.card_fav_content {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fav_img {
  position: relative;
  width: 45%;
}
.fav_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.fav_content {
  width: 45%;
  color: var(--main-font-color);
  align-self: center;
  text-align: justify;
}

.fav_content h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.fav_info {
  position: absolute;
  width: 50%;
  bottom: 10px;
  padding: 0 15px;
}

.fav_info h5 {
  color: var(--main-font-color);
  font-size: 1.4rem;
  padding-bottom: 5px;
  letter-spacing: 2px;
}

.fav_info .checked {
  color: gold;
}

/* REVIEW SECTION */

.review_container {
    width: 100%;
    height: 150px;
    margin-top: 3rem;
}

.box_content_review {
  display: none;
}

.slider_review {
    width: 700px;
    height: 150px;
    margin-left: 135px;
    overflow: hidden;
    position: relative;
}

.mask {
    overflow: hidden;
    height: 150px;
}


.slider_review ul {
    position: relative;
}

.slider_review ul li {
    list-style: none;
    width: 700px;
    height: 150px;
    position: absolute;
    left: -325px;
}

.slider_review .quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--main-font-color);
}

.slider_review .person {
    font-size: 1.3rem;
    text-align: right;
    color: var(--main-font-color);
}

.slider_review li.review1 {
    animation: cycle 15s linear infinite;
}

.slider_review li.review2 {
    animation: cycle2  15s linear infinite;
}

.slider_review li.review3 {
    animation: cycle3 15s linear infinite;
}

.slider_review li.review4 {
    animation: cycle4 15s linear infinite;
}

.slider_review:hover li {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes cycle {
    0% {
      left: 0px;
    }
    4% {
        left: 0px;
    }
    16% {
        left: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
        left: 325px;
      opacity: 0;
      z-index: 0;
    }
    21% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
    50% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
    92% {
        left: -325px;
      opacity: 0;
      z-index: 0;
    }
    96% {
        left: -325px;
      opacity: 0;
    }
    100% {
        left: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
        left: -325px;
      opacity: 0;
    }
    16% {
        left: -325px;
      opacity: 0;
    }
    20% {
        left: 0px;
      opacity: 1;
    }
    24% {
        left: 0px;
      opacity: 1;
    }
    36% {
        left: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
        left: 325px;
      opacity: 0;
      z-index: 0;
    }
    41% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
        left: -325px;
      opacity: 0;
    }
    36% {
        left: -325px;
      opacity: 0;
    }
    40% {
        left: 0px;
      opacity: 1;
    }
    44% {
        left: 0px;
      opacity: 1;
    }
    56% {
        left: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
        left: 325px;
      opacity: 0;
      z-index: 0;
    }
    61% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
        left: -325px;
      opacity: 0;
    }
    56% {
        left: -325px;
      opacity: 0;
    }
    60% {
        left: 0px;
      opacity: 1;
    }
    64% {
        left: 0px;
      opacity: 1;
    }
    76% {
        left: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
        left: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
        left: -325px;
      opacity: 0;
      z-index: -1;
    }
  }

.second_bg_img {
    background-image: url(images/second_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .footer_wrapper {
    width: 1200px;
    margin: 0 auto;
  }


/* CONTACT SECTION */

.contact_container {
  padding-top: 120px;
}

.contact_box {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  background-color: #242425d4;
  border-radius: 16px;
}

.contact_container h3 {
  color: var(--main-font-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 10px;
}

.contact_input_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

#message:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.contact_input_box .field {
  font-family: var(--main-font-style);
  color: var(--main-font-color);
  padding: 7px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  border: 1px solid #fff;
  background: transparent;
}

.field:hover{
  background-color: #242425;
}

#btn-contact {
  cursor: pointer;
}

/* FOOTER SECTION */

footer {
  margin-top: 150px;
}

.footer_info {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #242425;
  border-radius: 16px;
  height: auto;
}

.footer_info .info_col {
  padding: 30px;

}

.info_col h5 {
  color: var(--main-font-color);
  font-size: 1.3rem;
  margin-bottom: 30px;
  position: relative;
}

.info_col h5::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  background-color: var(--main-font-color);
  left: 0;
  bottom: -10px;
}

.info_col p {
  padding-bottom: 8px;
  color: var(--main-font-color);
}
.info_col p a{
  color: var(--main-font-color);
  text-decoration: none;
}

/* RESPONSIVE SECTION */

  @media only screen and (max-width: 1200px) {
    .header-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .main-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    .footer_wrapper {
      width: 90%;
      margin: 0 auto;
    }

    .about_container {
      justify-content: flex-start;
    }

    .card_content {
      justify-content: normal;
      width: 100%;
    }

    .about_us {
      width: 40%;
      padding: 10px;
    }

    .about_us_img {
      width: 60%;
      position: initial;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .about_us_img #second_img {
      position: initial;
      height: 350px;
    }

    .about_us_img #first_img {
      height: 350px;
    }
    
    .slider_review {
      margin: 0 auto;
    }

    .slider_review .quote {
      font-size: 2.5rem;
  }
  
  .slider_review .person {
      font-size: 1rem;
  }

}

@media only screen and (max-width: 1000px) {

  .header_text h1 {
    font-size: 11rem;
  }

  .header_text h1 span {
    font-size: 14rem;
  }

  .tour_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact_input_box{
    grid-template-columns: 1fr;
    gap: 5px;
  }

  #message:nth-child(5) {
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .card_content {
    flex-direction: column;
    align-items: center;
  }
  
  .about_us {
    width: 90%;
  }

  .about_us_img {
    width: 90%;
    padding-top: 10px;
  }

  .about_us_img #second_img {
    height: 300px;
  }

  .about_us_img #first_img {
    height: 300px;
  }

  .fav_img img {
    height: 250px;
  }

  .fav_info h5 {
    font-size: 1rem;

  }
}

@media only screen and (max-width: 960px) {
  .card_fav_content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .fav_img {
    width: 90%;
  }

  .fav_content {
    width: 90%;
  }

  .fav_content h3 {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header-wrapper .logo {
    font-size: 1.4rem;
  }

  .hamburger_menu {
    display: block;
    cursor: pointer;
  }

  .hamburger_menu .line {
    height: 3px;
    width: 30px;
    background-color: var(--second-font-color);
    margin: 6px;
  }
 
  .nav_bar {
    position: absolute;
    display: block;
    top: 92px;
    right: 0;
    height: 0;
    width: 100%;
    transition: 0.4s;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .25);
  }
  .nav_bar.active {
    height: auto;
  }

  .nav_bar ul {
    display: block;
    width: fit-content;
    margin: 10px auto 0 ;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
  }
  
  .nav_bar.active ul {
    opacity: 1;
  }

  .nav_bar ul li {
    margin-bottom: 8px;
  }
  .nav_bar ul li a{
    color: var(--main-font-color);
    font-size: 1.4rem;
  }

  .header_text h1 {
    font-size: 9rem;
  }

  .header_text h1 span {
    font-size: 12rem;
  }

  .tour_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .slider_review {
    width: 500px;
  }

  .slider_review ul li {
    width: 500px;
  }

  .slider_review .quote {
    font-size: 2rem;
}

.slider_review .person {
    font-size: 0.8rem;
}

}


@media only screen and (max-width: 650px) {

  .header_text h1 {
    font-size: 8rem;
  }

  .header_text h1 span {
    font-size: 10rem;
  }

  .contact_box {
    width: 100%;
  }

  .contact_input_box .field {
    font-size: 0.8rem;
  }

  .footer_info {
    flex-direction: row;
    justify-content: center;
  }

  .footer_info .info_col {
    padding: 15px;
  }

  .info_col h5 {
    font-size: 1rem;
  }

  .info_col p {
    font-size: 0.8rem;
  }

  .slider_review {
    display: none;
  }

  .review_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
  }

  .box_content_review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-content: center;
    background-color:#323136;
    border-radius: 16px;
    padding: 10px 20px ;
  }
  
  .box_review {
    width: 80%;
    padding-bottom: 15px;
    justify-items: center;
    text-align: start;
    font-size: 0.9em;
    color: var(--main-font-color);
    justify-self: center;
  }
}

@media only screen and (max-width: 560px) {
  .about_us_img {
    flex-direction: column;
    align-items: center;
  }

  .about_us_img #first_img {
    width: 200px;
    padding-bottom: 10px;
  }

  .about_us_img #second_img {
    width: 200px;
  }
}

@media only screen and (max-width: 510px) {

  .header_text h1 {
    font-size: 8rem;
  }

  .header_text h1 span {
    font-size: 8rem;
  }

  .title_tour_container {
    padding: 10px 0;
    margin-top: 2rem;

  }
  .title_tour_container h2 {
    font-size: 2rem;
  }

  .title_tour_container h5 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 470px) {

  .header_text h1 {
    font-size: 7rem;
  }

  .header_text h1 span {
    font-size: 8rem;
  }

  .fav_content h3 {
    font-size: 1.3rem;    
  }

  .fav_content p {
    font-size: 14px;
  }

  .about_us h3 {
    font-size: 1.3rem;
  }

  .about_us p {
    font-size: 14px;
  }
}